/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-flexible-open-hours-openhours {
	ul {
		padding: 0;
	}
	li {
		display: inline;
	}
	.foh-display__dates {
		font-weight: bold;
	}
	.foh-display__button {
		padding: 0;
		margin-bottom: var(--wp--custom--gapo--m);
		text-align: left;
		border: none;
		background-color: transparent;
		opacity: 0.7; // change to selected color in future
		transition: 0.2s;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
	.foh-display__full-temporary {
		transition: 0.3s;
		transform: translate(0);
	}
	.foh-display__left-out {
		transform: translate(-1em);
		opacity: 0;
	}
}
